<%- include("partials/header"); -%>
<h1>What is it?</h1>
<p>This feature will help you to keep track of exam preparation. You can check the progress of your study by checking the box available.</p>

<h2>Mid Exam</h2>
<div class="">
  <input type="checkbox" id="reading" name="reading">
  <label for="reading">Reading</label>
</div>
<div class="">
  <input type="checkbox" id="ppt" name="ppt">
  <label for="ppt">PPT</label>
</div>
<div class="">
  <input type="checkbox" id="flashcard" name="flashcard">
  <label for="flashcard">Flashcard</label>
</div>

<h2>Final Exam</h2>
<div class="">
  <input type="checkbox" id="reading" name="reading">
  <label for="reading">Reading</label>
</div>
<div class="">
  <input type="checkbox" id="ppt" name="ppt">
  <label for="ppt">PPT</label>
</div>
<div class="">
  <input type="checkbox" id="flashcard" name="flashcard">
  <label for="flashcard">Flashcard</label>
</div>

<h2>Quiz</h2>
<div class="">
  <input type="checkbox" id="reading" name="reading">
  <label for="reading">Reading</label>
</div>
<div class="">
  <input type="checkbox" id="ppt" name="ppt">
  <label for="ppt">PPT</label>
</div>
<div class="">
  <input type="checkbox" id="flashcard" name="flashcard">
  <label for="flashcard">Flashcard</label>
</div>

<%- include("partials/footer"); -%>
