<%- include("partials/header"); -%>
<form action="/login" method="post">
  <p>Apakah anda ingin log out?</p>
  <button type="submit">Iya</button>
  <a href="/">Tidak</a>
</form>
<%- include("partials/footer"); -%>
